@using Microsoft.AspNetCore.Mvc

@model TourAgencyApp.Models.Tour

@{
    ViewData["Title"] = "Details";
}

<h2>Details about '@Html.DisplayFor(model => model.Title)'</h2>
<hr />

<section>
    <div class="row">
        <div class="col-md-6">
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Title)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Title)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.StartDate)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.StartDate)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.EndDate)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.EndDate)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Country)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Country)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Description)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Price)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Price)
                </dd>
            </dl>
        </div>
        <div class="col-md-6">
            <center>
                @if (Model.ImageName != null)
                {
                    <img src="@Url.Content("~/Images/Tours/" + Model.ImageName)" alt="@Model.ImageName" style="width:100%; max-width: 500px; height: auto; margin: 20px;" />
                }
            </center>
        </div>
    </div>

    <div class="row">
        <center>
            @if (User.IsInRole("Admin"))
            {
                <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
            }
            <a asp-action="Index">Back to List</a>
        </center>
    </div>
</section>

<section>
    <div class="row row-no-gutters">
        <div class="col-md-6">
                <h2>Comments</h2>
                <ul>
                    @foreach (var comment in Model.Comments)
                    {
                        <li>
                            @comment.Text
                            <p>@comment.CreatedDate</p>
                            @if (comment.User != null)
                            {
                                <p>by @comment.User.Email</p>
                            }
                            else
                            {
                                <p>by Unknown User</p>
                            }
                        </li>
                    }
                </ul>
                @if (User.Identity.IsAuthenticated)
                {
                    <form asp-controller="Tours" asp-action="CreateComment" asp-route-id="@Model.Id">
                        <input type="text" name="text" placeholder="Leave a comment" />
                        <input type="submit" value="Add Comment" />
                    </form>
                }
        </div>
    </div>
</section>