@model IEnumerable<TourAgencyApp.Models.Event>

@{
    ViewData["Title"] = "Events";
}

<h1>Events</h1>

@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Create event</a>
    </p>
}
<p>
    <span class="text-danger"><b>@TempData["ErrorMes"]</b></span>
</p>

<form asp-controller="Events" asp-action="Index" method="get">
    <p>
        Title: <input type="text" name="title" value="@TempData["Title"]" />
        Destination: <input type="text" name="destination" value="@TempData["Destination"]" />
        <input type="submit" value="Filter" />
        <button class="btn btn-primary" type="submit" name="filter" value="upcoming">Upcoming events</button>
        <button class="btn btn-primary" type="submit" name="filter" value="past">Past events</button>
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
                @if (User.IsInRole("Admin"))
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                }
                else @if (User.Identity.IsAuthenticated)
                {
                    <a asp-action="Signup" asp-route-id="@item.Id">Sign up</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
