@model TourAgencyApp.Models.EventBooking

@{
    ViewData["Title"] = "Drop out";
}

<h1>Drop out for Event</h1>

<h3>Are you sure you want to drop out of this event?</h3>
<div>
    <h4>Tour</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.EventDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.EventDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.Destination)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.Destination)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Event.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Event.Price)
        </dd>
    </dl>

    <form asp-action="Dropout">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Dropout" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
